@import '../../../custom-theme.scss';

.date-range {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;

  .input {
    flex: 1;
    margin-right: 10px;
  }

  .mat-datepicker-toggle {
    font-size: 24px;
  }
}

