<div class="root mat-app-background">
  <!-- container -->
  <!-- topBar -->
  <mat-toolbar class="topBar">
    <!-- light/dark mode -->
    <app-light-dark-mode [darkMode]="darkMode" (setDarkMode)="setDarkMode($event)"></app-light-dark-mode>
    <!-- langulage -->
    <span class="toolbar-spacer"></span>
    <app-language-toggle [language]="language" (setLanguage)="setLanguage($event)"></app-language-toggle>
  </mat-toolbar>
  <!-- header -->
  <app-header [weatherData]="weatherData" [isLoading]="isLoading" [darkMode]="darkMode"></app-header>
  <!-- card -->
  <mat-card class="paper">
    <!-- search -->
    <div class="search">
      <mat-form-field class="input">
        <mat-label>{{"search.PleaseInputThePlace" | translate}}</mat-label>
        <input matInput [placeholder]="('search.EG' | translate) + '. Guangzhou'" [value]="place" (keyup)="setPlace($event)">
      </mat-form-field>
      <!-- divider -->
      <mat-divider [vertical]="true" class="divider"></mat-divider>
      <!-- tooltip -->
      <mat-icon (mouseover)="showTooltipFn($event)" (mouseout)="showTooltip=false"><span class="material-icons-outlined">
          info_outlined
        </span>
      </mat-icon>
    </div>
    <!-- daterange -->
    <app-date-range (dateRangeChange)="dateRangeChange($event)" [darkMode]="darkMode"></app-date-range>

    <!-- loading skeleton -->
    <app-loading class="loading" *ngIf="isLoading"></app-loading>
  </mat-card>
  <!-- sigle line chart -->
  <ng-container *ngIf="!isLoading && weatherData?.forecast?.forecastday">
    <app-single-day-line-chart [day]="day" *ngFor="let day of weatherData?.forecast?.forecastday">
    </app-single-day-line-chart>
  </ng-container>
  <!-- multiple lines chart -->
  <app-multiple-date-stack-line-chart [days]="weatherData?.forecast?.forecastday"
    *ngIf="weatherData?.forecast?.forecastday.length > 1 && !isLoading"></app-multiple-date-stack-line-chart>
</div>

<app-info-tool-tip *ngIf="showTooltip" [pageXY]="pageXY">
</app-info-tool-tip>