
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

@mixin t-theme($theme, $d) {
  $foreground: map-get($theme, $d);
}

// customer some color in order that during switch theme, some part of page related element change the color corresponding
$grey900: mat-palette($mat-grey,900);
$grey50: mat-palette($mat-grey,50);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Foreground palette for light themes.
$mat-light-theme-foreground: (
  base:            black,
  divider:         rgba(black, 0.12),
  dividers:        rgba(black, 0.12),
  disabled:        rgba(black, 0.38),
  disabled-button: rgba(black, 0.38),
  disabled-text:   rgba(black, 0.38),
  hint-text:       rgba(black, 0.38),
  secondary-text:  rgba(black, 0.54),
  icon:            rgba(black, 0.54),
  icons:           rgba(black, 0.54),
  text:            rgba(black, 0.87)
);
// Background palette for light themes.
$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
);
$aWeather-primary: mat-palette($mat-light-blue);
$aWeather-accent: mat-palette($mat-light-green);
$aWeather-warn: mat-palette($mat-red);


$aWeather-theme: mat-light-theme($aWeather-primary, $aWeather-accent, $aWeather-warn);

.mat-date-range-input-inner[disabled] {
  color: mat-color($mat-light-theme-foreground, base)!important;
}
@include t-theme($aWeather-theme, $mat-light-theme-foreground);
@include angular-material-theme($aWeather-theme);

//for dark theme

$mat-dark-theme-foreground: (
  base:            white,
  divider:         rgba(white, 0.12),
  dividers:        rgba(white, 0.12),
  disabled:        rgba(white, 0.38),
  disabled-button: rgba(white, 0.38),
  disabled-text:   rgba(white, 0.38),
  hint-text:       rgba(white, 0.38),
  secondary-text:  rgba(white, 0.54),
  icon:            rgba(white, 0.54),
  icons:           rgba(white, 0.54),
  text:            rgba(white, 0.87)
);

// Background palette for dark themes.
$mat-dark-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-grey, 900),
  background: #303030,
  hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
  card:       map_get($mat-grey, 800),
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: map_get($mat-grey, 1000),
);
$aWeather-primary-dark: mat-palette($mat-gray);
$aWeather-accent-dark: mat-palette($mat-blue-grey);
$aWeather-warn-dark: mat-palette($mat-red);

$aWeather-theme-dark: mat-dark-theme($aWeather-primary-dark, $aWeather-accent-dark, $aWeather-warn-dark);
.dark-theme-mode {
    .mat-date-range-input-inner[disabled],
    .mat-datepicker-toggle {
      color: mat-color($mat-dark-theme-foreground, base)!important;
    }
    .mat-datepicker-content{
      background: mat-color($mat-dark-theme-background, background)!important;
      color: mat-color($mat-dark-theme-foreground, base)!important;
    }
    @include t-theme($aWeather-theme-dark, $mat-dark-theme-foreground);
    @include angular-material-theme($aWeather-theme-dark);
}